# Optional local secrets. Copy the keys you need into local.properties.
signing.release.storeFile=../keystore/project.keystore
signing.release.keyAlias=
signing.release.storePassword=
signing.release.keyPassword=
signing.debug.storeFile=../keystore/debug.keystore
signing.debug.keyAlias=
signing.debug.storePassword=
signing.debug.keyPassword=

pgyer.apiKey=
pgyer.userKey=
legu.appId=
legu.appKey=

notify.wechatWebhook=
notify.dingWebhook=
notify.feishuWebhook=

demo.login.username=
demo.login.password=
